.welcomeHeader{
    width: 100%;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
}
.welcomeHeader>ul{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    cursor: pointer;
}

.form{
    background-color: white;
    border-radius: 20px;
    width: 400px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid red;
    /* height: 600px; */
}

.form-body{
    text-align: left;
    padding: 20px 10px;
    font-size: large;
    /* border: 1px solid green; */
}

.form-body > *{
    display: flex;
    padding: 10px;
   
}

.form__label{
    width: 40%;
    
}

.form__input{
    width: 60%;
    padding: 10px;
    border-radius: 10px;
   
}


.footer{
    margin-top: 10px;
    text-align: center;
   
}